# Dependencies
node_modules/

# Production build output
dist/

# Astro temporary files
.astro/

# Environment variables
.env
.env.production
.env.local
*.env

# Vercel temporary folder
.vercel

# Operating System Files
.DS_Store
Thumbs.db
